player-connection-mode=Listen
player-connection-guid=2964246178
player-connection-debug=0
player-connection-project-name=2DDemo01
player-connection-ip=10.70.24.193
player-connection-ip=192.168.137.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=40e7ae72072046c1b6707b8379b2f1e7
